@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    font-size: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Table */
table {
    width: 100%;
    border-top: 1px solid #228a4d;
    border-bottom: 1px solid #228a4d;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(even) {
    background: #CCFF90;
}
th {
    color: #228a4d;
    font-weight: normal;
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 1px solid #228a4d;
    border-bottom: 1px solid #228a4d;
}
td, th {
    padding: 6px;
    border-left: 1px solid #228a4d;
    border-right: 1px solid #228a4d;
}
td {
  text-align: left;
}
