.addButton {
    cursor: pointer;
    text-align: center;
}

.ifAdd {
    width: 50px;
    padding: 1%;
    background: #ffecb3;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: 2px 2px 15px #888;
}

.ifAdd:hover {
    box-shadow: 5px 5px 18px #888;
}

.ifAdd:active {
    transform: translateY(2px);
}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    height: 80px;
    position: absolute;
    text-align: center;
    background-color: #efefef;
}

/* Responsive */
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
}
