.sticky {
    width: 300px;
    position: absolute;
    perspective: 300px;
}

.card {
    height: 300px;
    width: 300px;
    position: relative;
    transition: 1s ease;
    transform-style: preserve-3d;
    background-color: #fff38d;
}

.move {
    cursor: move;
}

.cardFront, .cardBack  {
    top: 0;
    left: 0;
    padding: 10px;
    width: 300px;
    height: 300px;
    position: absolute;
    backface-visibility: hidden;
    border: 1.2px #8d99ff solid;
}

.cardBack {
    background-color: #b2ebf2;
    transform: rotateY(180deg);
}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    height: 10px;
    position: absolute;
    text-align: center;
}

.small {
    font-size: 10px;
}

.input {
    width: 100%;
    padding: 0.4em;
    margin-top: 0.6em;
    font-size: 1.1rem;
}

.close {
    width: 25px;
    float: right;
    cursor: pointer;
}